/* basic styles */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
}

ul,
h1,
h2,
h3,
p,
figure,
blockquote {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    margin: 0 auto;
    max-width: 1060px;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* heading section layout */
.heading-section,
footer {
    background-color: #1f2937;
}

.logo,
h1,
h3,
.hero button {
    color: #f9faf8;
}

h1,
h2 {
    font-weight: 800;
}
.logo,
.hero button,
figcaption,
h3,
.action-panel button {
    font-weight: bold;
}

.logo,
h3 {
    font-size: 24px;
}

h1 {
    font-size: 48px;
}

nav a,
.hero p,
footer,
.action-text p {
    color: #e5e7eb;
    font-size: 18px;
}

nav a:hover {
    color: #3882f6;
}

.hero button {
    margin-top: 12px;
    background-color: #3882f6;
    font-size: 18px;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}

.hero button:hover {
    padding: 6px 30px;
    border: solid 2px #f9faf8;
}

.header-top {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 24px;
}

.hero {
    padding: 128px 0;
    display: flex;
    gap: 48px;
}

.hero-left,
.hero-right {
    flex: 1;
}

.hero-right img {
    max-width: 100%;
    height: auto;
}

/* info section layout */
h2,
.card p,
figure {
    color: #1f2937;
}

h2 {
    font-size: 36px;
    padding: 48px 0;
}

.card p {
    font-size: 18px;
}

.card-container {
    display: flex;
    gap: 48px;
    padding-bottom: 128px;
}

.card {
    max-width: 170px;
}

.card p {
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border: solid #3882f6 3px;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* quote section layout */
.quote-section {
    background-color: #e5e7eb;
}

figure {
    padding: 128px 0;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 782px;
}

figcaption {
    font-size: 24px;
    text-align: right;
    margin-right: 18px;
}

/* action section layout */
.action-section {
    padding: 96px 0;
}

.action-panel {
    background-color: #3882f6;
    padding: 64px 128px;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.action-panel button {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 6px 30px;
    border: solid #f9faf8 2px;
    border-radius: 8px;
}
.action-panel button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}
/* footer layout */
footer {
    text-align: center;
    padding: 32px 0;
}